body {
font-family : Arial, Helvetica, sans-serif;
line-height : 1.5;
padding : 0;
margin : 0;
background-color : #DDD1C7;
}
.container {
width : 80%;
margin : auto;
overflow : hidden;
}
ul {
margin : 0;
padding : 0;
}
header {
background : #35424a;
color : #ffffff;
padding-top : 30px;
min-height : 70px;
}
header a {
color : #ffffff;
text-decoration : none;
font-size : 16px;
}
.header {
font-size : 35px;
}
header li {
float : left;
display : inline;
padding : 0 20px 0 20px;
}
.logo-image {
height: 100px;
width : 80px;
margin-bottom : 10px;
}
header #logo h1 {
margin : 0;
}
header nav {
float : right;
margin-top : 35px;
}
header .highlight, header .current a {
font-weight : bold;
color : #CFC0BD;
}
header a:hover {
color : #000000;
font-weight : bold;
}
h2 {
text-align : center;
text-shadow : 2px 2px white;
}
.heading {
text-align : center;
color : white;
background-color : #35424a;
position : absolute;
top: 300px;
opacity : 0.9;
padding : 0.25em;
border-radius : 2px;
margin : 0 0 20px 10px;
}
.backgroundimage {
height : 650px;
background-image : url(https://i.imgur.com/eD8FcTX.jpg);
background-size : cover;
background-repeat : no-repeat;
margin-top : auto;
}
main p {
margin-top : 30px;
margin-bottom : 30px;
line-height : 40px;
margin-left : 25px;
margin-right : 25px;
}
main img {
width : 30%;
height : 30%;
margin-left : 15px;
margin-right : 15px;
}
main h1 {
text-align : center;
text-shadow : 2px 2px white;
}
.clam {
width : 27%;
height : 30%;
margin-left : 40px;
margin-right : 15px;
}
footer {
padding : 20px;
color : #ffffff;
background-color : #35424a;
text-align : center;
}
.icons img {
width : 40px;
height : 40px;
margin-left : 20px;
margin-right : 20px;
}
.footerfont {
font-size : 25px;
}
.icon-container {
display : flex;
justify-content : center;
align-items : center;
}